.ticker, .exchange {
  &__cell {
    width: 100px;
  }

  &__p {
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    color: white;

  }
}

.ticker__p {
  background: blue;
}

.exchange__p {
  background: chocolate;
}
.row-update-status{
  margin: 0 24px 0 auto;
}
